/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(240, 240, 240);
  color: #1f1f1f;
}

button {
  cursor: pointer;
}
.navbar li {
  color: gray;
}
.navbar li:hover {
  color: #1f1f1f;
}
.navbar active {
  color: #bef264;
  background: rgba(128, 128, 128, 0.275);
}
.primary-btn {
  padding: 4px 16px;
  background-color: #bef264;
  border-radius: 8px;
  font-weight: 500;
}
.primary-btn:hover {
  background-color: #a3e635;
}
.secondary-btn {
  padding: 4px 16px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  font-weight: 600;
}
.secondary-btn:hover {
  background-color: rgba(128, 128, 128, 0.1);
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid gray;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #a3e635;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 